<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New item</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <p *ngIf="loadedItems.length < 1">No post available!</p>
        <ul class="list-group" *ngIf="loadedItems.length >= 1">
        <a class="list-group-item" 
            style="cursor: pointer"
            *ngFor="let item of loadedItems">
            <h3>{{item.name}}</h3>
            <p>{{item.quantity}}</p>
        </a>
        </ul>
    </div>
</div>
